#Filter file
*.o
*.d
*.elf
*.lss
*.map
*.i
*.map.*
*.lss.*

#Filter folder
.metadata/
.settings/
031-516-202 (3rd copy)/
031-516-202_another/
rmp-mp3 (copy)/
.hg/
*.snap
*.prefs
*.index
*.log
*.sc
*.pdom
*.swp

